# virtualenv
# virtualenvwrapper
# sudo apt-get install build-essential nginx python-dev python-pip python-sqlite sqlite
uwsgi
django

# Appcongi
django_extensions
djangorestframework
django-cors-headers
enum

pytest
pytest-django
pytest-bdd
pytest-xdist
googlemaps

# sudo apt-get install libmysqlclient-dev
MySQL-python

python-magento
celery
redis
requests
django-debug-toolbar
flower
juspay
razorpay
python-dateutil
sendotp
numpy
pandas
xlrd
#paytm
pycrypto
requests-toolbelt
geolocation-python


# Devlopment:
flake8
pep8
pydocstyle
pylint

