# virtualenv
# virtualenvwrapper
# sudo apt-get install build-essential nginx python-dev python-pip python-sqlite sqlite
# brew install chromedriver
uwsgi
django==1.10.6

# Appcongi
django_extensions
djangorestframework==3.6.2
django-cors-headers
enum

mock
pytest==3.1.3
pytest-django==3.1.2
pytest-bdd==2.18.2
pytest-xdist
pytest-cov
googlemaps

# sudo apt-get install libmysqlclient-dev
MySQL-python
psycopg2==2.7.5

python-magento
celery==4.0.2
redis
django-redis
requests
django-debug-toolbar
django-debug-panel
flower==0.9.1
juspay
razorpay
python-dateutil
sendotp
numpy
pandas==0.20.2
xlrd
#paytm
pycrypto
requests-toolbelt
geopy


# Devlopment:
#pylint
flake8
pep8
pydocstyle
splinter

#pynotebook
jupyter==1.0.0
ortools==6.8.5452
pyproj==1.9.5.1
