<!DOCTYPE html>
<html>
  <head>
    <!-- This stylesheet contains specific styles for displaying the map
         on this page. Replace it with your own styles as described in the
         documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial -->
   <style type="text/css">
      html, body, section{ height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
      aside {
        padding: 0px !important;
      }
      .padding-left {padding-left: 15px;}

    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <section>
        <aside class="col-xs-4 col-md-4 col-sd-4 col-lg-4">
            <h3 class="page-header">Driver Locations</h3>

            <div class="panel panel-default">
              <div class="panel-heading">Store Selector</div>
              <div class="panel-body">
                <select>
                    <option>Select Store</option>
                    {% for store in stores %}
                        <option value="{{ store.store_id }}"
                            {% if store is selected_store %}
                                selected="selected"
                            {% endif %}
                        >
                            {{ store.name }}
                        </option>
                    {% endfor %}
                </select>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">Drivers</div>
              <div class="panel-body">
                <ul class="padding-left list-group">

                    {% for location in locations %}
                        <div class="list-group-item" id="{{location.driver.phone}}">
                            <p>{{location.driver.name}} ({{location.driver.phone}})</p>
                        </div>
                    {% endfor %}
                </ul>
              </div>
            </div>
            

        </aside>
        <main id="map" class="col-xs-8 col-md-8 col-sd-8 col-lg-8"></main>
    </section>

    <script>
      var markers = []
      function initMap() {

        center = {lat: 12.9329359, lng: 80.2305887};
        {% if selected_store != 0 %}
            center = {
                lat: {{selected_store.location.longandlatis.latitude}},
                lng: {{selected_store.location.longandlatis.longitude}}
            }
        {% endif %}

        var map = new google.maps.Map(document.getElementById('map'), {
          center: center,
          scrollwheel: false,
          zoom: 13
        });

        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

        {% for store in stores %}

            var {{store.name}}Marker = new google.maps.Marker({
                    position: {
                        lat: {{ store.location.longandlatis.latitude }},
                        lng: {{ store.location.longandlatis.longitude }}
                    },
                    map: map,
                    icon: image
            });

        {% endfor %}

        //drivers
        {% for location in locations %}
            markers.push(new google.maps.Marker({
                    position: {
                        lat: {{ location.location.lat }},
                        lng: {{ location.location.lng }}
                    },
                    map: map,
                    driverNo: "{{location.driver.phone}}",
                    title: "{{location.driver.name}}({{location.driver.phone}})"
            }));
        {% endfor %}

        }

        $(document).ready(function() {
            $("select").on("change", function() {
                window.location.href = "?store=" + $(this).val();
            })

            $(".list-group-item").click(function() {
                var phNo = this.id;
                var marker = markers.find(function(m) {
                    return m.driverNo == phNo;
                });
                marker.setAnimation(google.maps.Animation.BOUNCE);
                setTimeout(function(){ marker.setAnimation(null);}, 3000);
                console.log(marker);
            });
        });
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQK2O4AMogjO323B-6btf9f2krVWST3bU&callback=initMap"
        async defer></script>
  </body>
</html>
